<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administrator</title>
</head>
<body>
    <div>
        <a href="~/Polls">Polls Admin</a>
        <a href="~/Votes">Votes Admin</a>
        <a href="~/PossibleAnswers">PossibleAnswers Admin</a>
    </div>
</body>
</html>
