<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="~/Content/style.css" />
<link rel="stylesheet" href="~/Content/form-style.css" />
<title>Just Chat</title>
</head>

<body>
	<div id="wraper">
		<header>
	        <h2>JustChat<h2>
        </header>
        <section id="loginForm">
            <form class="form" action="/Home/Login">
                <header class="formHeader">
                    <div class="formTitle">
                        Login
                    </div>
                    <button class="closeButton" ></button>
                </header>
                <section class="formBody">
                    <label class="formLabel" for="userName" >Username:</label>
                    <input type="text" id="userName" name="userName" class="formTextbox" />
                </section>
                <section class="submit">
                    <input class="formSubmitButton" type="submit" value="Login" />
                </section>
            </form>
        </section>
    </div>
</body>
</html>
