<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindEntity.csdl|res://*/NorthwindEntity.ssdl|res://*/NorthwindEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NIKY\SQLEXPRESS;initial catalog=Northwind;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>